* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

// Colour
$off-black: #262626;
$off-white: white;
$khaki-black: #646868;
$light-gray: #F0EFEF;